body {
  font-family: 'Quicksand', sans-serif;
  color: white;
  background-color: #1e1e1e;
}

header {
  margin: 0;
  text-align: left;
  font-size: small;
  padding: 0 2rem;
  border-bottom: 1px solid black;
  color: white;
}

.App {
  text-align: center;
}

.Form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
  gap: 5px;
}

.inputField {
  display: inherit;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.ControlingUnit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

button {
  padding: 4px 12px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  color: black;
  border: 2px solid #555555;
}

button:hover {
  background-color: black;
  color: white;
}

.CheckBox {
  height: 30px;
  width: 30px;
}

hr {
  background-color: black;
}

.guest {
  border-top: 1px solid black;
  padding: 10px 0;
}
